script(src='#{site.dir.lib}socket.io-client/dist/socket.io.min.js')
script(src='#{site.dir.js}socket.js')


//- Allows you to pass an array of page specific scripts to load
if locals.js
	each script in js
		script(src='#{site.dir.js}#{script}')

if ( locals.site.environment === 'development' )
	//Livereload script rendered
	script(src='#{site.domain}:35729/livereload.js')
