<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


        {{#if title}}
            <title>{{title}}</title>
        {{else}}
            <title>{{title}}</title>
        {{/if}}

{{bowerHead}}
        <link rel="stylesheet" href="{{site.dir.css}}styles.css">

        {{#if css}}
            {{#each css}}
                <link rel="stylesheet" href="{{site.dir.css}}{{this}}">
            {{/each}}
        {{/if}}

    </head>

<body>