head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')


    if locals.title
        title= title
    else
        title= site.name


    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

{{bowerHead}}
    link(rel='stylesheet', href='#{site.dir.css}styles.css')

    //- Allows you to pass an array of page specific stylesheets to load
    if locals.css
        each stylesheet in css
            link(rel='stylesheet', href='#{site.dir.css}#{stylesheet}')
